{% extends 'profile/base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block style1 %}
<style>
img{
  width: 250px;
  height: 250px;
  border-radius: 2px;
}
.post{
  width: 250px;
  height: 250px;
  margin:10px;
  margin-bottom: 10rem;
}
.profile-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.posts{
  margin-top: 3rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
@media only screen and (max-width: 992px) {
  .posts{
    justify-content: center;
  }
}
</style>
{% endblock %}


{% block body %}
<div class="container" style="margin-top: 7rem;">
  <div class="search">
    <form method="GET" class="form-inline d-flex justify-content-center">
      <input name="search" class="form-control form-control mr-2 w-75" type="text" placeholder="Search"
        aria-label="Search">
      <button type="submit" style="background-color: unset; border:unset; outline:none"><i class="fas fa-search" aria-hidden="true"></i></button>
    </form>
  </div>

    <div class="posts">
      {% for post in posts %}
      <a href="{% url 'view_post' post.user.username post.id %}" style="text-decoration: none;">
        <div class="post">
          {% if post.images.count > 1 %}
          <div style="background-color:rgba(0,0,0,0.8); color:white ; position:relative;top:25px; right:0px ; float:right; "><i class="far fa-images"> {{ post.images.count }}</i></div>   
          <img src="{{ post.images.first.image.url }}" alt="{{ post.text }}">
          <p class="pl-2"><a style="color: black; text-decoration:underline" href="{% url 'get_user' post.user.username %}">{{ post.user.username }}</a></p>
          <p class="text-muted pl-4 pr-4">
            {{ post.text|slice:":20" }}
            {% if post.text|length > 20 %}
            <a href="{% url 'view_post' user.username post.id %}" style="text-decoration: none;" class="text-dark"> ...more</a>    
            {% endif %}
          </p>
          {% else %}
          <div style="background-color:rgba(0,0,0,0.8); color:white ; position:relative;top:25px; right:0px ; float:right; visibility: hidden; "><i class="far fa-images"></i></div>   
          <img src="{{ post.images.last.image.url }}" alt="{{ post.text }}">
          <p class="pl-2"><a style="color: black; text-decoration:underline" href="{% url 'get_user' post.user.username %}">{{ post.user.username }}</a></p>
          <p class="text-muted pl-4 pr-4">
            {{ post.text|slice:":20" }}
            {% if post.text|length > 20 %}
            <a href="{% url 'view_post' user.username post.id %}" style="text-decoration: none;" class="text-dark"> ...more</a>    
            {% endif %}
          </p>
          {% endif %}
        </div>
      </a>
      {% endfor %}
    </div>
  
   
</div>

{% endblock %}

{% block js %}
<script src="{% static 'home/js/search.js' %}"></script>
{% endblock %}

